body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topNav {
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #c98941;
    display: block;
    flex-direction: column;
}

.topNav .upper{
    display: flex;
    /*justify-content: left;*/
    flex-direction: row;
}

.topNav .user{
    display: flex;
    margin-left: auto;
    order: 2;
}

.topNav .item{
    /*width: 10%;*/
    color: white;
    background-color: #c98941;
    cursor: pointer;
    text-align: center;
    margin: 1px;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    border: #999999;
    /*border-left: solid 1px;*/
}

/*#logout, #sign_in, #register, #profile{*/
/*    position: relative;*/
/*    right: auto;*/
/*}*/
.topnav .search-container {
    /*float: right;*/
    height: 40px;
}

.topnav input[type=text] {
    padding: 6px;
    margin: 5px;
    font-size: 17px;
    border: none;
    border-radius: 1rem;
    width: 400px;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}


.topNav .item:hover {
    background-color: #4d2525;
}

.topNav .item.active{
    background-color: #04AA6D;
    color: white;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: white;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}