body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topNav {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.topNav .upper{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.topNav .lower{
    display: flex;
    justify-content: center;
    background-color: #ffc97b;
    flex-direction: row;
}

.topNav .item{
    float: left;
    flex: 1;
    color: #f2f2f2;
    background-color: #ffc97b;
    display: inline-block;
    text-align: center;
    margin: 1px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topNav .item:hover {
    background-color: #f2f2f2;
    color: black;
}

.topNav .item.active{
    background-color: #04AA6D;
    color: white;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: white;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}