h1{
    font-family: Copernicus, "Libre Baskerville", Georgia, serif;
    margin: 25px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}

.wrapper .preview {
    background-color: rgba(133, 161, 148, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

ol.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    width: 200px;
    max-font-size: 8;
    min-height: 270px;
    max-height: 300px;
    border: 1px hidden #000;
    border-radius: 5px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    _height: 270px;
}

.preview:hover{
    cursor: pointer;
}

.preview{
    position: relative;
    display: inline-block;
}

.preview:hover .tooltiptext {
    visibility: visible;
}

.preview .tooltiptext {
    visibility: hidden;
    width: 200px;
    height: 250px;
    background-color: black;
    color: #ababab;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 15px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 105%;
}

.preview .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.elem{
    font-size: 20px;
}