<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
        xmlns="java.sun.com/xml/ns/javaee"
        xmlns:xsi="w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="java.sun.com/xml/ns/javaee java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
  <display-name>Better Reads</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/HomePage.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlets.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>Servlets.searchServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Servlets.LogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>Servlets.UserProfileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/userProfile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>Servlets.HomePageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CatalogueServlet</servlet-name>
    <servlet-class>Servlets.CatalogueServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CatalogueServlet</servlet-name>
    <url-pattern>/catalogue</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>Servlets.BookServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/showBook</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BookMarkingServlet</servlet-name>
    <servlet-class>Servlets.BookMarkingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BookMarkingServlet</servlet-name>
    <url-pattern>/bookMarking</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServletAdmin</servlet-name>
    <servlet-class>Servlets.LogoutServletAdmin</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogoutServletAdmin</servlet-name>
    <url-pattern>/logoutAdmin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminHomeServlet</servlet-name>
    <servlet-class>Servlets.AdminHomePageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminHomeServlet</servlet-name>
    <url-pattern>/adminHome</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>Servlets.AddBookServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
</web-app>
